*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.resource-card {
  display: flex;
  justify-content: space-evenly;
  width: 60rem;
  height: 10rem;
  margin-top: 1em;
  border-radius: 0.5em;
  background-color: #fff;
  box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
}

.name {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0.5em;
  padding: 1rem;
  position: relative;
  right: 2.5rem;
}

.name-padding {
  margin-top: 1em;
  margin-bottom: 0.5em;
}
/* 
.description {
  display: flex;
  width: 20rem;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  right: 8em;
  bottom: 1.5em;
  word-break: break-all;
  margin: 0.5em;
  padding: 1rem;
} */

.description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  right: 2em;
  bottom: 1.5em;
  inline-size: 500px;
  word-break: break-word;
  margin: 0.5em;
  padding: 1rem;
}

.initials {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #33a4d8;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  padding: 8px;
}
