*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  margin-bottom: 0.3em;
  font-family: "Orbitron", sans-serif;
  font-size: 5em;
  letter-spacing: 0.05em;

  color: #06416e;
}
h2 {
  color: #06416e;
  margin-bottom: 0.5em;
  font-family: "Cabin", sans-serif;
  font-weight: 800;
}

h3 {
  font-family: "Cabin", sans-serif;
  position: relative;
  bottom: 1em;
}

p {
  position: relative;
  text-align: start;
}

.App {
  text-align: center;
  background-color: rgb(255, 255, 255);
}

/* Nav bar */
.bar {
  /* position: absolute; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 16rem;
  left: 0px;
  top: 0px;
  background: linear-gradient(
    180deg,
    #095791 -7.41%,
    rgba(9, 87, 145, 0) 92.59%
  );
}
/* Sourcery Logo */
.logo {
  margin: 1em;
  margin-top: 0.5em;
  padding: 1em;
  fill: none;
}

/* for links to code wars etc - under main logo */
.menu {
  font-family: "Orbitron", sans-serif;
  font-weight: 600;
  color: rgba(233, 233, 233, 0.851);
  letter-spacing: 0.05em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5em;
  max-width: 100%;
  background-color: #125589ce;
}
/* search by week menu drop down */
select {
  width: 100%;
  min-width: 15ch;
  max-width: 30ch;
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  margin-top: 0.12em;
  font-size: 1.05rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: rgba(128, 128, 128, 0.16);
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}

.select-menu {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

/* websites navbar */
.sites {
  font-size: small;
  padding: 0.1em;
  display: flex;
  justify-content: space-evenly;
  background-color: #12558984;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
/* for spacing website links on nav bar */
.link-spacing {
  margin: 1em;
}

.input-fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 4rem;
}

/* users resource cards */
.input-cards {
  margin-top: 1em;
  display: flex;
  justify-content: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* The container must be positioned relative: */
