*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  margin-bottom: 0.3em;
  font-family: "Orbitron", sans-serif;
  font-size: 5em;
  letter-spacing: 0.05em;
  color: #06416e;
}

h2 {
  color: #06416e;
  margin-bottom: 0.5em;
  font-family: "Roboto", sans-serif;
  font-weight: 800;
}

.App {
  text-align: center;
  background-color: rgb(255, 255, 255);
}

/* Nav bar */
.bar {
  /* position: absolute; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 16rem;
  left: 0px;
  top: 0px;
  background: linear-gradient(
    180deg,
    #095791 -7.41%,
    rgba(9, 87, 145, 0) 92.59%
  );
}
/* Sourcery Logo */
.logo {
  margin: 1em;
  margin-top: 0.5em;
  padding: 1em;
  fill: none;
}

.input-fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 4rem;
}
/* users resource cards */
.input-cards {
  margin-top: 1em;
  display: flex;
  justify-content: center;
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
