.left-inputs {
  display: flex;
  flex-direction: column;
  margin-right: 0.5rem;
}

.right-inputs {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.all-inputs {
  display: flex;
  flex-direction: row;
}

.small-input {
  background-color: rgba(128, 128, 128, 0.16);
  height: 1.5rem;
  width: 30rem;
  margin-bottom: 1rem;
  padding-left: 1em;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-family: "Cabin", sans-serif;
  font-weight: 700;
}
/* users description for resource */
.description-box {
  font-family: "Cabin", sans-serif;
  font-weight: 700;
  padding-left: 1em;
  padding-bottom: 3.5em;
  background-color: rgba(128, 128, 128, 0.16);
  height: 5.5rem;
  width: 30rem;
  margin-left: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
/* Main Submit button */
.submit-button {
  height: 1.6rem;
  width: 4rem;
  margin-top: 0.5rem;
  margin-bottom: 5em;
  border-radius: 7px;
  border: 0px;
  background-color: #095791;
  color: #ffffff;
  font-size: 0.9em;
}
/* Hover effect for the submit button - changes colour and enlarges*/
.submit-button:hover {
  background-color: #33a4d8;
}

input[type="text"] {
  border-radius: 6px;
  border: 0.5px solid rgba(0, 0, 0, 0.1);
  word-wrap: break-word;
  word-break: break-all;
}
